.page-title {
  display: flex;
  flex-direction: row;
  align-items: center;
}
body {
  background-color: rgb(28, 44, 60);
}

a {
  color: dodgerblue;
  text-decoration: none;
}

a:hover {
  color: white;
  text-decoration: underline;
}

img:hover {
  box-shadow: 0 10px 16px 0 rgba(255, 255, 255, 0.2),
  0 6px 20px 0 rgba(255, 255, 255, 0.19) !important;
  cursor: pointer;
}